@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: white;
  scroll-behavior: smooth !important;
}

input[type="checkbox"] {
  appearance: none;

  position: relative;
  border: 2px solid #000;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -2px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-cart::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-cart::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 999px;
}

.scrollbar-cart::-webkit-scrollbar-thumb:hover {
  background: #919191;
  border-radius: 999px;
}

.scrollbar-cart::-webkit-scrollbar-track {
  background: transparent;
}
