@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: white;
  scroll-behavior: smooth !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-cart::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-cart::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 999px;
}

.scrollbar-cart::-webkit-scrollbar-thumb:hover {
  background: #919191;
  border-radius: 999px;
}

.scrollbar-cart::-webkit-scrollbar-track {
  background: transparent;
}
